{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-transform-runtime",
    "@babel/syntax-dynamic-import",
    "transform-runtime",
    "transform-async-to-generator"
  ]
}
